.pagenotfound{
    color: #ffffff;
    background-color: #002e5b;
    height:100%;
    width:100%;
    magin:0;
    padding:0;
   
  }
  .pagenotfound > ul {
    font-weight: bolder;
    font-size:10pt;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
  }

  
