.pagenotfound{
    color: #ffffff;
    background-color: #002e5b;
    font-weight: bolder;
    font-size: 5vw;
  }
  .pagenotfound > ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90.7vh;
  }

  @media only screen and (max-width:830px) {
    .pagenotfound > ul {
      height:80vh;
    }
    
  }
@media only screen and (max-width:482px) {
  .pagenotfound > ul {
    height:90.7vh;
  }
  }
@media only screen and (max-width:150px) {
  .pagenotfound > ul {
    height:80vh;
  }
  }
