.header{
    width: 99%;
    margin: 0;
    padding: 0;
}
.header_combine{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.header_combine>li{
    margin-left: auto;
}
.header_logo_img{
    width: 250px;
    height: 100px;
    margin-top: 5px;
}
.email_phone_combine{
    margin-right:5%;
}

.email{
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.phone{
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
}
#email_logo{
    width:40px;
    height:40px;
    
}
#phone_logo{
    width:40px;
    height: 40px;

}
@media only screen and (max-width:482px) {
    .header_combine{
        justify-content: center;
    align-items: center;
    }
    .header_logo_img{
        width:90%;
        margin-top: 5px;
        height: 80px;
    }
    .email_phone_combine{
        width:100%;
        font-size:10pt;
        margin-right:5%;
    }
    #email_logo{
        width:30px;
        height:40px;
        
    }
    #phone_logo{
        width:30px;
        height: 40px;
    
    }
  }
  
@media only screen and (max-width:300px) {
    .header{
        width: 98%;
       height: 165px;
    }
    .header_combine{
        display: flex;
        flex-wrap: wrap;
        
    }
    .header_logo{
        flex: 1;
        text-align: center;
    }
    .email_phone_combine{
        flex: 1;
        font-size: 6vw;
     }
    .header_logo_img{
        width:80vw;
        height: 80px;
    }
    #email_logo{
        width:40px;
        height:40px;
    }
    #phone_logo{
        width:40px;
        height: 40px;
    
    }
  }
  
@media only screen and (max-width:150px) {
    .header{
        margin: 0;
        padding:1px;
       height:120px;
       width: 95%;
    }
    .email_phone_combine{
        font-size:7vw;
     }
    .header_logo_img{
        width:95%;
        height: 60px;
    }
    #email_logo{
        width:30px;
        height:30px;
    }
    #phone_logo{
        width:30px;
        height: 30px;
    
    }
  }
  